<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div class="header">
    <ul class="navigationMenu">
        <li class="menuLink"><a href="/">Home</a></li>
        <li class="menuLink"><a class="active" href="#">Conferences</a></li>
        <li class="menuLink" style="float:right"><a th:if="${!session.loggedIn}"  href="login">Login</a><a th:if="${session.loggedIn}"  href="/participant/details">MyAccount</a></li>
        <li class="menuLink" style="float:right"><a th:if="${session.loggedIn}"  href="/participant/logout">Log out</a></li>
    </ul>
</div>
<div class="main-content">
    <div class="conferences-section">
        <h3>Avaliable conferences</h3>
        <div class="conferencesTable">
            <input type="text" id="filterInput" onkeyup="filterTable()" placeholder="Search for conference names">
            <table id="entityDisplayTable">
                <tr class="header">
                    <th style="width:30%;">Conference Title</th>
                    <th style="width:10%;">Edition</th>
                    <th style="width:20%;">Date Start</th>
                    <th style="width:20%;">Date End</th>
                    <th th:if="${session.loggedIn}" style="width:20%;">Details</th>
                </tr>
                <tr th:each="avaliableConference : ${avaliableConferences}">
                    <td th:text="${avaliableConference.titleConf}"></td>
                    <td th:text="${avaliableConference.nbEditionConf}"></td>
                    <td th:text="${#dates.format(avaliableConference.dtStartConf, 'dd-MM-yyyy')}"></td>
                    <td th:text="${#dates.format(avaliableConference.dtEndConf, 'dd-MM-yyyy')}"></td>
                    <td><a th:if="${session.loggedIn}" th:href="@{conferences/{idConf}(idConf=${avaliableConference.idConf})}">See details</a></td>
                </tr>
            </table>
        </div>
        <a th:if="${session.loggedIn}" class="customButton" href="conferenceCreate">Click here to create your conference</a>
    </div>
</div>
<div class="footer">
    <p>© Copyright 2030 by The Conference Management Site!</p>
</div>
<script th:src="@{/scripts/commonScripts.js}"></script>
</body>
</html>
