<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div class="header">
  <ul class="navigationMenu">
    <li class="menuLink"><a href="/">Home</a></li>
    <li class="menuLink"><a class="active" href="/conferences">Conferences</a></li>
    <li class="menuLink" style="float:right"><a th:if="${!session.loggedIn}"  href="login">Login</a><a th:if="${session.loggedIn}"  href="/participant/details">MyAccount</a></li>
    <li class="menuLink" style="float:right"><a th:if="${session.loggedIn}"  href="/participant/logout">Log out</a></li>
  </ul>
</div>
<div class="main-content">
  <div class="conferences-section">
    <h3>Register conference</h3>
    <form action="conferences/create" method="post">
      <label>Conf name</label>
      <input type="text" name="titleConf">
      <label>Edition number</label>
      <input type="number" name="nbEditionConf">
      <label>start date</label>
      <input type="date" name="dtStartConf">
      <label>end date</label>
      <input type="date" name="dtEndConf">
      <label>URL</label>
      <input type="text" name="urlWebsiteConf">
      <label for="themes">Choose a conference theme or themes:</label>
      <select name="themes" id="themes" multiple>
        <option th:each="conferenceTheme : ${conferenceThemes}" th:value="${conferenceTheme.getThemeId()}" th:text="${conferenceTheme.getNameTheme()}">
        </option>
      </select>
      <label for="activities">Choose the activities for the conference:</label>
      <select name="activities" id="activities" multiple>
        <option th:each="conferenceActivity : ${conferenceActivities}" th:value="${conferenceActivity.getActivityId()}" th:text="${conferenceActivity.getNameActivity()}">
        </option>
      </select>
      <button type="submit">Create conf</button>
    </form>
  </div>
</div>
<div class="footer">
  <p>© Copyright 2030 by The Conference Management Site!</p>
</div>
</body>
</html>
