<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div class="header">
  <ul class="navigationMenu">
    <li class="menuLink"><a href="/">Home</a></li>
    <li class="menuLink"><a class="active" href="/conferences">Conferences</a></li>
    <li class="menuLink" style="float:right"><a th:if="${!session.loggedIn}"  href="login">Login</a><a th:if="${session.loggedIn}"  href="/participant/details">MyAccount</a></li>
    <li class="menuLink" style="float:right"><a th:if="${session.loggedIn}"  href="/participant/logout">Log out</a></li>
  </ul>
</div>
<div class="main-content">
  <div class="conferences-section">
    <h3>Register conference</h3>
    <form class="createConferenceForm" action="conferences/create" method="post">
      <div>
        <label for="titleConf">Conference name</label>
        <input type="text" id="titleConf" name="titleConf">
      </div>
      <div>
        <label for="editionNumber">Edition number</label>
        <input type="number" id="editionNumber" name="nbEditionConf" min="0" value="1">
      </div>
      <div>
        <label for="startDate">Start date</label>
        <input type="date" id="startDate" name="dtStartConf">
      </div>
      <div><label for="endDate">End date</label>
        <input type="date" id="endDate" name="dtEndConf">
      </div>
      <div>
        <label for="confUrl">URL</label>
        <input type="text" id="confUrl" name="urlWebsiteConf">
      </div>
      <div>
        <label for="themes">Choose a conference theme or themes:</label>
        <select name="themes" id="themes" multiple>
          <option th:each="conferenceTheme : ${conferenceThemes}" th:value="${conferenceTheme.getThemeId()}" th:text="${conferenceTheme.getNameTheme()}">
          </option>
        </select>
      </div>
      <div>
        <label for="activities">Choose the activities for the conference:</label>
        <select name="activities" id="activities" multiple>
          <option th:each="conferenceActivity : ${conferenceActivities}" th:value="${conferenceActivity.getActivityId()}" th:text="${conferenceActivity.getNameActivity()}">
          </option>
        </select>
      </div>
      <button class="registerbtn" type="submit">Create conf</button>
    </form>
  </div>
</div>
<div class="footer">
  <p>© Copyright 2030 by The Conference Management Site!</p>
</div>
</body>
</html>
