<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>PARTICIPANT</title>

</head>
<body>
<div class="header"></div>
<div class="main-content">
    <h3>PARTICIPANT</h3>
    <form action="participant/login" method="post">
        <input name="participantEmail" type="email" placeholder="Your email">
        <input name="password" type="password" placeholder="password">
        <input type="submit" value="login">
    </form>
    <p th:text="${session.authenticationError}"/>
    <p th:if="${session.authenticationError}">Authentication Error</p>
    <p>Don't have a account yet? click <a href="participant/register">here</a> to register </p>
</div>
<div class="footer">
</div>
</body>
</html>
