<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Participant Details</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />

</head>
<body>
<div class="header">
  <ul class="navigationMenu">
    <li class="menuLink"><a  href="/">Home</a></li>
    <li class="menuLink"><a href="/conferences">Conferences</a></li>
    <li class="menuLink" style="float:right"><a th:if="${!session.loggedIn}"  href="login">Login</a><a class="active" th:if="${session.loggedIn}"  href="/participant/details">MyAccount</a></li>
    <li class="menuLink" style="float:right"><a th:if="${session.loggedIn}"  href="/participant/logout">Log out</a></li>
  </ul>
</div>
<div class="main-content">
  <h2>Participant Information</h2>
  <p th:text="${session.loggedParticipant.namePart}">
</div>
<div class="footer">
  <p>© Copyright 2030 by The Conference Management Site!</p>
</div>
</body>
</html>
